# Note that not all variables here might be in use for your selected configuration

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma

DATABASE_URL=

# LOGSNAG

LOGSNAG_TOKEN=

# Next Auth

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000

# Next Auth Discord Provider

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Next Auth Google Provider

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth GitHub Provider

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth LinkedIn Provider

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# TypeForm

TYPEFORM_API_KEY=

# SendGrid

SENDGRID_API_KEY=

# Azure AD

AZURE_AD_CLIENT_ID=
AZURE_AD_TENANT_ID=
AZURE_AD_CLIENT_SECRET=

# PostHog

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
POSTHOG_KEY=

# Cloudflare R2

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_KEY_ID=
R2_BUCKET_NAME=

# Apple Wallet

APPLE_WWDR=
APPLE_SIGNER_CERT=
APPLE_SIGNER_KEY=
APPLE_SIGNER_KEY_PASSPHRASE=
