# Note that not all variables here might be in use for your selected configuration

# Prisma

DATABASE_URL=file:./db.sqlite

# Next Auth

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Next Auth Discord Provider

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Next Auth Google Provider

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Next Auth GitHub Provider

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth LinkedIn Provider

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
