@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

@layer components {
  .dark-gradient {
    background: linear-gradient(
      #252525 5%,
      #252525 45%,
      #323232 55%,
      #252525 65%,
      #252525 155%
    );
    mask-image: url("/images/bg.png");
    background-size: 200% 200%;
  }
  .light-gradient {
    background: linear-gradient(
      #f0f0f0 0%,
      #f0f0f0 40%,
      #fafafa 50%,
      #f0f0f0 60%,
      #f0f0f0 100%
    );
    mask-image: url("/images/bg.png");
    background-size: 200% 200%;
  }
}

.dx-state-disabled {
  opacity: 1 !important;
}

.dx-scheduler-all-day-appointment {
  height: 2rem !important;
}

.dx-scheduler-appointment-resource-list {
  display: none !important;
}

textarea {
  height: 200px !important;
}

.dx-layout-manager .dx-label-h-align.dx-flex-layout {
  display: none !important;
}

video {
  width: 100%;
  border-radius: 0.375rem;
}

.checked-checkbox {
  background-repeat: no-repeat;
  animation: checkmark var(--animation-input, 0.2s) ease-out;
  background-image: linear-gradient(
      -45deg,
      transparent 65%,
      var(--chkbg) 65.99%
    ),
    linear-gradient(45deg, transparent 75%, var(--chkbg) 75.99%),
    linear-gradient(-45deg, var(--chkbg) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      var(--chkbg) 30%,
      var(--chkfg) 30.99%,
      var(--chkfg) 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, var(--chkfg) 50%, var(--chkbg) 50.99%);
}

/* -Cool rainbow button border */

.rainbow-border {
  position: relative;
  border-image: linear-gradient(
      90deg,
      #0099ff 0%,
      #ffbb00 49%,
      #ff3333 80%,
      #0099ff 100%
    )
    1;
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    border-image: linear-gradient(
        90deg,
        #0099ff 100%,
        #0099ff 0%,
        #ffbb00 49%,
        #ff3333 80%
      )
      1;
  }
}
